<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/img/vinc01.png" />
            </div>
        </a>       
    </div>

    <ul class = "nav">
        <li class="active"  style="list-style-type: none;">
            <a routerLink="proyecto"><i class="fas fa-project-diagram"></i> Proyectos </a>
        </li>
        <li  style="list-style-type: none;">
            <a routerLink="docente"><i class="fas fa-user-tie"></i> Docentes </a>
        </li>
        <li  style="list-style-type: none;">
            <a routerLink="estudiante"><i class="fas fa-users"></i> Estudiantes </a>
        </li>
        <li  style="list-style-type: none;">
            <a routerLink="certificado"><i class="fas fa-award"></i> Certificados </a>
        </li>
        <li  style="list-style-type: none;">
            <a routerLink="reporte"><i class="fas fa-file-contract"></i> Reportes </a>
        </li>
    </ul>
</div>
