<div>
    <mat-toolbar>
        <span>Validar Certificado</span>
    </mat-toolbar>

    <mat-card style="margin-top:1%">
        <form [formGroup]="form" (ngSubmit)="BuscarCodigo()">
            <mat-form-field class="ancho">
                <mat-label>Codigo del Certificado</mat-label>
                <input matInput autocomplete="off" formControlName="codigo">
                <button matSuffix mat-icon-button aria-label="Buscar" [disabled]="form.invalid">
                    <mat-icon class="pointer">search</mat-icon>
                </button>
                <mat-error *ngIf="checkError('codigo','required')">
                    Debe ingresar un codigo valido.
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card>
</div>