.body{
    margin: 10px;
    display: block;
}
table {
    width: 100%;
    margin-top: 10px;
    margin-right: 10%;
}
th{
    width: 10px;
}
.pointer{
    cursor: pointer;
}
.mat-form-field {
    width: 100%;
}
.mat-cell{
    font-size: 12px;
}
.mat-paginator{
    height: 50px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center;
    height: 40px;
    background-color: transparent;
}
.mat-column-codigo{
    width: 12%;
}
.mat-column-nombreProyecto{
    width: 70%;
}
.mat-column-resolucion{
    width: 10%;
}
.mat-column-acciones{
    width: 8%;
}