<div class="body" style="height: 90%;">
    <div class="container">
        <p style="margin-bottom: 1%">
            <mat-toolbar>
                <span>Modificar Participación del Estudiante</span>
            </mat-toolbar>
        </p>

        <mat-card style="margin-top: 10px; margin-bottom: 10px;">
            <form [formGroup]="form" (ngSubmit)="guardarEstudiante()" style="text-align: center;">
                <mat-grid-list cols="4" rowHeight="90px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Cedula</mat-label>
                            <input matInput [readonly]="true" formControlName="cedula">         
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Nombre</mat-label>
                            <input matInput [readonly]="true" formControlName="nombre">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Forma de Participación</mat-label>
                            <mat-select formControlName="formaParticipacion">
                                <mat-option *ngFor="let item of formaParticipacion" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="ancho">
                            <mat-label>Año de Participación</mat-label>
                            <input matInput autocomplete="off" formControlName="anioParticipacion" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <button class="botonAceptar" type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Guardar</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-card>
    </div>
</div>