.body{
    margin: 10px;
    display: block;
    margin-bottom: 100%;
}
.ancho{
    width: 90%;
}
.container{
    height: 100%;
}
.textAreaAlto{
    width: 100%;
}
.botonAceptar{
    margin-top: 2%;
}