.body{
    margin: 10px;
    padding-bottom: 2%;
}
table {
    width: 100%;
    margin-top: 10px;
    margin-right: 10%;
}
th{
    width: 10px;
}
.pointer{
    cursor: pointer;
    margin-right: 3%;
}
.mat-header-cell-fechaRecepcion .mat-header-cell-fechaEntrega .mat-header-cell-observacion{
    text-align: center;
}
.mat-form-field {
    width: 100%;
}
.mat-cell{
    font-size: 12px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center;
    height: 40px;
}
.mat-column-nombreDocente{
    width: 14%;
}
.mat-column-nombreIntegrante{
    width: 14%;
}
.mat-column-nombreFacultad {
    width: 14%;
    text-align: center;
}
.mat-column-nombreCarrera{
    width: 14%;
    text-align: center;
}
.mat-column-nombreProyecto{
    width: 29%;
}
.mat-column-fechaRecepcion{
    width: 11%;
    text-align: center;
}
.mat-column-fechaEntrega{
    width: 11%;
    text-align: center;
}
.mat-column-observacion{
    width: 11%;
    text-align: center;
}
.mat-table .mat-cell:first-child, .mat-footer-cell:first-child, .mat-header-cell:first-child {
    padding-left: 15px;
}
.mat-table .mat-cell:last-of-type, .mat-footer-cell:last-of-type, .mat-header-cell:last-of-type {
    padding-right: 10px;
}