<div class="row" style="height: 95vh;">
    <div class="body">

        <p style="margin-bottom: 1%;">
            <mat-toolbar>
              <span style="text-align: center;">Certificados</span>
            </mat-toolbar>
          </p>

        <p style="margin-bottom: 1%; text-align: center;font-size: x-large;font-weight: bold;">
            <span style="text-align: center;">Certificados Docentes</span>
        </p>
        <mat-divider style="margin-top: 1%;"></mat-divider>
  
        <div class="CertDocentes" *ngIf="certDocentesFind; else noCertDocentes">
        <mat-form-field appearance="standard">
            <mat-label>Filtro de Búsqueda</mat-label>
            <input matInput (keyup)="applyFilterDocentes($event)" placeholder="Ex. Pedro, FE" autocomplete="off">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceDocentes">          
              <!-- Integrante Column -->
              <ng-container matColumnDef="nombreDocente">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.participa.docente.nombreDocente}} </td>
              </ng-container>
              
              <!-- Facultad Column -->
              <ng-container matColumnDef="nombreFacultad">
                 <th mat-header-cell *matHeaderCellDef> Facultad </th>
                <td mat-cell *matCellDef="let element"> {{element.participa.facultad}} </td>
              </ng-container>
            
              <!-- Proyecto Column -->
              <ng-container matColumnDef="nombreProyecto">
                  <th mat-header-cell *matHeaderCellDef> Proyecto </th>
                 <td mat-cell *matCellDef="let element"> {{element.participa.proyecto.nombreProyecto}} </td>
              </ng-container>
  
              <!-- Fecha Recepción -->
              <ng-container matColumnDef="fechaRecepcion">
                  <th mat-header-cell *matHeaderCellDef> F. Recepción </th>
                  <td mat-cell *matCellDef="let element"> {{element.fechaRecepcion}} </td>
              </ng-container>
  
              <!-- Fecha Entrega -->
              <ng-container matColumnDef="fechaEntrega">
                  <th mat-header-cell *matHeaderCellDef> F. Entrega </th>
                 <td mat-cell *matCellDef="let element"> {{element.fechaEntrega}} </td>
              </ng-container>
  
              <!-- Fecha Entrega -->
              <ng-container matColumnDef="observacion">
                  <th mat-header-cell *matHeaderCellDef> Observación </th>
                 <td mat-cell *matCellDef="let element"> {{element.observacionCertificado}} </td>
              </ng-container>
            
              <!-- Acciones Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                    <a class="pointer" matTooltip="Modificar Certificado" (click)="onEditCertificado(element.idCertificado)">
                        <mat-icon class="pointer">edit</mat-icon>
                    </a>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumnsDocentes"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsDocentes;"></tr>
          </table>
          <mat-paginator #TablaUnoPaginador="matPaginator" [pageSizeOptions]="[5, 10, 20, 50, 100]"
                showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        </div>

        <ng-template #noCertDocentes>
          <br/> <br/>
          <p style="margin-bottom: 1%; text-align: center;font-size: large;">
            <span style = "color: #c3c3c3; font-size: 20px;">No existen Certificados de Docentes registrados</span>
          </p>
        </ng-template>

        <mat-divider style="margin-top: 3%;margin-bottom: 1%;"></mat-divider>
        
        <p style="margin-bottom: 1%; text-align: center;font-size: x-large;font-weight: bold;">
            <span style="text-align: center;">Certificados Estudiantes</span>
        </p>

        <mat-divider style="margin-top: 1%;"></mat-divider>
  
        <div class="CertEstudiantes" *ngIf="certEstudiantesFind; else noCertEstudiantes">
        <mat-form-field appearance="standard">
            <mat-label>Filtro de Búsqueda</mat-label>
            <input matInput (keyup)="applyFilterEstudiantes($event)" placeholder="Ex. Pedro, FE" autocomplete="off">
        </mat-form-field>
        
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceEstudiantes">          
            <!-- Integrante Column -->
            <ng-container matColumnDef="nombreIntegrante">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.integra.estudiante.nombreEstudiante}} </td>
            </ng-container>
            
            <!-- Facultad Column -->
            <ng-container matColumnDef="nombreCarrera">
               <th mat-header-cell *matHeaderCellDef> Carrera </th>
              <td mat-cell *matCellDef="let element"> {{element.integra.carrera}} </td>
            </ng-container>
          
            <!-- Proyecto Column -->
            <ng-container matColumnDef="nombreProyecto">
                <th mat-header-cell *matHeaderCellDef> Proyecto </th>
               <td mat-cell *matCellDef="let element"> {{element.integra.proyecto.nombreProyecto}} </td>
            </ng-container>

            <!-- Fecha Recepción -->
            <ng-container matColumnDef="fechaRecepcion">
                <th mat-header-cell *matHeaderCellDef> F. Recepción </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaRecepcion | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Fecha Entrega -->
            <ng-container matColumnDef="fechaEntrega">
                <th mat-header-cell *matHeaderCellDef> F. Entrega </th>
               <td mat-cell *matCellDef="let element"> {{element.fechaEntrega | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <!-- Fecha Entrega -->
            <ng-container matColumnDef="observacion">
                <th mat-header-cell *matHeaderCellDef> Observación </th>
               <td mat-cell *matCellDef="let element"> {{element.observacionCertificado}} </td>
            </ng-container>
          
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <a class="pointer" matTooltip="Modificar Certificado" (click)="onEditCertificado(element.idCertificado)">
                      <mat-icon class="pointer">edit</mat-icon>
                  </a>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsEstudiantes"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsEstudiantes;"></tr>
        </table>
        <mat-paginator #TablaDosPaginador="matPaginator" [pageSizeOptions]="[5, 10, 20, 50, 100]"
              showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
        </div>
        </div>

        <ng-template #noCertEstudiantes>
          <br/> <br/>
          <p style="margin-bottom: 1%; text-align: center;font-size: large;">
            <span style = " font-size: 20px; color: #c3c3c3;">No existen Certificados de Estudiantes registrados</span>
          </p>
        </ng-template>

    </div>
</div>
