.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center;
    height: 40px;
}
.botonAceptar{
    margin-left: 10px;
}
.mat-toolbar{
    background:#00893E;
    color: white;
    justify-content: center;
}