<div class="container">
    <p style="margin-bottom: 1%"></p>
    <mat-toolbar>
        <span>Escoga la Observación</span>
    </mat-toolbar>
    <mat-card style="margin-top: 1%;">
        <form [formGroup]="form">
            <mat-form-field [style.width.%]="70">
                <mat-label>Observacion</mat-label>
                <mat-select (selectionChange)="escogio($event)" formControlName="opcion">
                    <mat-option *ngFor="let item of Observaciones" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="botonAceptar" [disabled]="form.invalid" mat-raised-button color="primary" (click)="PDF()">
                Consultar
            </button>
        </form>
    </mat-card>
</div>