.body{
    margin: 10px;
    padding-bottom: 2%;
}
table {
    width: 100%;
    margin-top: 10px;
    margin-right: 10%;
}
th{
    width: 10px;
}
.pointer{
    cursor: pointer;
}
.mat-form-field {
    width: 100%;
}
.mat-cell{
    font-size: 12px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center;
    height: 40px;
}
.mat-column-cedulaDocente{
    width: 10%;
}
.mat-column-nombreDocente{
    width: 14%;
}
.mat-column-contacto{
    width: 10%
}
.mat-column-correoElectronico{
    width:10%
}
.mat-column-facultad {
    width: 14%;
    text-align: center;
}
.mat-column-anioParticipaDoc{
    width: 13%;
    text-align: center;
}
.mat-column-horasParticipacion{
    width: 14%;
    text-align: center;
}
.mat-raised-button{
    padding-left: 1%;
    padding-right: 1%;
}
.mat-icon-button{
    width: 20px
}
.mat-column-cedulaEstudiante{
    width: 10%;
}
.mat-column-nombreEstudiante{
    width: 30%;
}
.mat-column-carrera{
    width: 14%;
    text-align: center;
}
.mat-column-semestre{
    text-align: center;
}
.mat-column-formaParticipacion{
    text-align: center;
}
.mat-column-anioParticipaEst{
    text-align: center;
}