.body{
    margin: 10px;
}
table {
    width: 100%;
    margin-top: 10px;
    margin-right: 10%;
}
th{
    width: 10px;
}
.pointer{
    cursor: pointer;
}
.mat-form-field {
    width: 100%;
}
.mat-cell{
    font-size: 12px;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center;
    height: 40px;
}
.mat-column-cedulaDocente{
    width: 20%;
}
.mat-column-nombreDocente{
    width: 20%;
}
.mat-column-sexoDocente{
    width: 10%;
}
.mat-column-contacto{
    width: 10%
}
.mat-column-correoElectronico{
    width:20%
}
.mat-column-relacionLaboral{
    width: 10%;
    text-align: center;
}