<div class="row" style="height: 95vh;">
  <div class="body">
    <p style="margin-bottom: 1%;">
      <mat-toolbar>
        <span style="text-align: center;">Docentes</span>
      </mat-toolbar>
    </p>
    <button mat-raised-button color="primary" (click)="onCreate()">
      <mat-icon style="padding-left: 0%;padding-right: 1px;">add_box</mat-icon>
      Nuevo Docente
    </button>
    <mat-divider style="margin-top: 1%;"></mat-divider>
    <mat-form-field appearance="standard">
      <mat-label>Filtro de Búsqueda</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pedro, FE" #input autocomplete="off">
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">          
        
        <!-- Cedula Column -->
        <ng-container matColumnDef="cedulaDocente">
          <th mat-header-cell *matHeaderCellDef> Cedula </th>
          <td mat-cell *matCellDef="let element"> {{element.docente.cedulaDocente}} </td>
        </ng-container>

        <!-- Nombre Docente Column -->
        <ng-container matColumnDef="nombreDocente">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.docente.nombreDocente}} </td>
        </ng-container>

        <!-- Cargo Column -->
        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef> Cargo </th>
          <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
        </ng-container>

        <!-- Año de Participacion Column -->
        <ng-container matColumnDef="anioParticipaDoc">
          <th mat-header-cell *matHeaderCellDef> Año de Participacion </th>
          <td mat-cell *matCellDef="let element"> {{element.anioParticipaDoc}} </td>
        </ng-container>
          
        <!-- Horas de Participacion Column -->
        <ng-container matColumnDef="horasParticipacion">
          <th mat-header-cell *matHeaderCellDef> Horas de Participacion </th>
          <td mat-cell *matCellDef="let element"> {{element.horasParticipacion}} </td>
        </ng-container>
        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" style="text-align: right;">
              <button mat-icon-button class="pointer" matTooltip="Modificar Docente" (click)="onEdit(element.idDocente)">
                  <mat-icon class="pointer">edit</mat-icon>
              </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
        showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
  </div>
</div>