<div class="row" style="height: 95vh;">
  <div class="body">
    <mat-toolbar>
      <span style="text-align: center;">Integrantes del Proyecto</span>
    </mat-toolbar>
    <mat-card style="margin-top: 10px; margin-bottom: 10px;">
      <mat-grid-list cols="7" rowHeight="17vh">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-form-field *ngIf="proyectoFind" class="ancho" appearance="fill">
            <mat-label>Nombre del Proyecto</mat-label>
            <textarea style="font-size: small; text-align: justify;" matInput [readonly]="true" cdkTextareaAutosize>{{proyectoInfo.nombreProyecto}}</textarea>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1" style="margin-left: 10px; padding-top: 0;">
          <mat-form-field *ngIf="coordinadorFind; else agregarCoordinador" class="ancho" appearance="fill">
            <mat-label>Coordinador del Proyecto</mat-label>
            <input matInput [readonly]="true" value="{{coordinador.docente.nombreDocente}}">
            <button matSuffix mat-icon-button class="pointer" matTooltip="Generar Certificado" (click)="onCertificadoDocente(coordinador.idParticipa)">
              <mat-icon class="pointer">description</mat-icon>
            </button>
            <button matSuffix mat-icon-button class="pointer" matTooltip="Modificar Coordinador" (click)="onEdit(coordinador.idParticipa)">
              <mat-icon class="pointer">edit</mat-icon>
            </button>
            <button matSuffix mat-icon-button class="pointer" matTooltip="Eliminar Coordinador" (click)="onDelete(coordinador.idParticipa)">
              <mat-icon class="pointer">delete</mat-icon>
            </button>
          </mat-form-field>
          <ng-template #agregarCoordinador>
            <button mat-raised-button color="primary" (click)="addCoordinador()">
              <mat-icon style="padding-left: 0%;padding-right: 1px;">add_box</mat-icon>
              Coordinador
            </button>
          </ng-template>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>  
    
    <mat-divider style="margin-top: 1%;margin-bottom: 1%;"></mat-divider>
  
      <p style="margin-bottom: 1%; text-align: center;font-size: x-large;font-weight: bold;">
        <span style="text-align: center;">Docentes</span>
      </p>
      <button mat-raised-button color="primary" (click)="onCreate()">
        <mat-icon style="padding-left: 0%;padding-right: 1px;">add_box</mat-icon>
        Nuevo Docente
      </button>

      <mat-divider style="margin-top: 1%;"></mat-divider>
      <div class="Docentes" [hidden]="!docentesFind">
        <mat-form-field appearance="standard">
          <mat-label>Filtro de Búsqueda</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pedro, FE" autocomplete="off">
        </mat-form-field>
      
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceDocentes">          
          
            <!-- Cedula Column -->
            <ng-container matColumnDef="cedulaDocente">
              <th mat-header-cell *matHeaderCellDef> Cedula </th>
              <td mat-cell *matCellDef="let element"> {{element.docente.cedulaDocente}} </td>
            </ng-container>
  
            <!-- Nombre Docente Column -->
            <ng-container matColumnDef="nombreDocente">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.docente.nombreDocente}} </td>
            </ng-container>
  
            <!-- Contacto Column -->
            <ng-container matColumnDef="contacto">
              <th mat-header-cell *matHeaderCellDef> Número de Contacto </th>
              <td mat-cell *matCellDef="let element"> {{element.docente.contacto}} </td>
            </ng-container>
  
            <!-- Correo Electronico Column -->
            <ng-container matColumnDef="correoElectronico">
              <th mat-header-cell *matHeaderCellDef> Correo Electronico </th>
              <td mat-cell *matCellDef="let element"> {{element.docente.correoElectronico}} </td>
            </ng-container>
  
            <!-- Correo Electronico Column -->
            <ng-container matColumnDef="facultad">
              <th mat-header-cell *matHeaderCellDef> Facultad</th>
              <td mat-cell *matCellDef="let element"> {{element.facultad}} </td>
            </ng-container>
  
            <!-- Año de Participacion Column -->
            <ng-container matColumnDef="participacionInicio">
              <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
              <td mat-cell *matCellDef="let element"> {{element.participacionInicio | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="participacionFinal">
              <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
              <td mat-cell *matCellDef="let element"> {{element.participacionFinal | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            
            <!-- Horas de Participacion Column -->
            <ng-container matColumnDef="horasParticipacion">
              <th mat-header-cell *matHeaderCellDef> Horas de Participación </th>
              <td mat-cell *matCellDef="let element"> {{element.horasParticipacion}} </td>
            </ng-container>
            
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" style="text-align: right;">
                <button mat-icon-button class="pointer" matTooltip="Certificado Docente" (click)="onCertificadoDocente(element.idParticipa)">
                  <mat-icon class="pointer">description</mat-icon>
                </button>

                <button mat-icon-button class="pointer" matTooltip="Modificar Participación Docente" (click)="onEdit(element.idParticipa)">
                  <mat-icon class="pointer">edit</mat-icon>
                </button>
              
                <button mat-icon-button class="pointer" matTooltip="Eliminar Participación Docente" (click)="onDelete(element.idParticipa)">
                  <mat-icon class="pointer">delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumnsDocentes"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsDocentes;"></tr>
          </table>

          <mat-paginator #TablaUnoPaginador="matPaginator" [pageSizeOptions]="[5, 10, 20, 50, 100]"
            showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
      <div [hidden]="docentesFind">
        <p style="margin-bottom: 1%; text-align: center;font-size: large;">
          <br/>
          <span style = "color: #c3c3c3; font-size: 20px;">No existen docentes en este Proyecto</span>
        </p>
      </div>
      
      <mat-divider style="margin-top: 2%;margin-bottom: 2%;"></mat-divider>

      <p style="margin-bottom: 1%; text-align: center;font-size: x-large;font-weight: bold;">
        <span style="text-align: center;">Estudiantes</span>
      </p>
      
      <button mat-raised-button color="primary" (click)="onCreateEstudiante()">
        <mat-icon style="padding-left: 0%;padding-right: 1px;">add_box</mat-icon>
        Nuevo Estudiante
      </button>
      
      <mat-divider style="margin-top: 1%;"></mat-divider>
      <div class="Estudiantes" [hidden]="!estudiantesFind">  
        <mat-form-field appearance="standard">
          <mat-label>Filtro de Búsqueda</mat-label>
          <input matInput (keyup)="applyFilterEstudiantes($event)" placeholder="Ex. Pedro, FE" autocomplete="off">
        </mat-form-field>
          
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceEstudiantes">            
            <mat-form-field appearance="standard">
              <mat-label>Filtro de Búsqueda</mat-label>
              <input matInput placeholder="Ex. Pedro, FE" autocomplete="off">
            </mat-form-field>

            <!-- Cedula Estudiante Column -->
            <ng-container matColumnDef="cedulaEstudiante">
              <th mat-header-cell *matHeaderCellDef> Cedula </th>
              <td mat-cell *matCellDef="let element"> {{element.estudiante.cedulaEstudiante}} </td>
            </ng-container>
      
            <!-- Nombre Estudiante Column -->
            <ng-container matColumnDef="nombreEstudiante">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.estudiante.nombreEstudiante}} </td>
            </ng-container>
      
            <!-- Carrera Estudiante Column -->
            <ng-container matColumnDef="carrera">
              <th mat-header-cell *matHeaderCellDef> Carrera </th>
              <td mat-cell *matCellDef="let element"> {{element.carrera}} </td>
            </ng-container>
      
            <!-- Correo Electronico Column -->
            <ng-container matColumnDef="semestre">
              <th mat-header-cell *matHeaderCellDef> Semestre </th>
              <td mat-cell *matCellDef="let element"> {{element.estudiante.semestre}} </td>
            </ng-container>
      
            <!-- Forma de Participacion Column -->
            <ng-container matColumnDef="formaParticipacion">
                <th mat-header-cell *matHeaderCellDef> Forma de Participación </th>
                <td mat-cell *matCellDef="let element"> {{element.formaParticipacion}} </td>
              </ng-container>
      
              <!-- Año de Participacion Column -->
              <ng-container matColumnDef="integraInicio">
                <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                <td mat-cell *matCellDef="let element"> {{element.integraInicio | date:'dd/MM/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="integraFinal">
                <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
                <td mat-cell *matCellDef="let element"> {{element.integraFinal | date:'dd/MM/yyyy'}} </td>
              </ng-container>

              <!-- Acciones Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                  
                  <button mat-icon-button class="pointer" matTooltip="Certificado Estudiante" (click)="onCertificadoEstudiante(element.idIntegra)">
                    <mat-icon class="pointer">description</mat-icon>
                  </button>

                  <button mat-icon-button class="pointer" matTooltip="Modificar Participación Estudiante" (click)="onEditEstudiante(element.idIntegra)">
                      <mat-icon class="pointer">edit</mat-icon>
                  </button>
                  
                  <button mat-icon-button class="pointer" matTooltip="Eliminar Participación Estudiante" (click)="onDeleteEstudiante(element.idIntegra)">
                    <mat-icon class="pointer">delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumnsEstudiantes"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsEstudiantes;"></tr>
          </table>
    
          <mat-paginator #TablaDosPaginador="matPaginator" [pageSizeOptions]="[5, 10, 20, 50, 100]"
            showFirstLastButtons aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
      <div [hidden]="estudiantesFind">
        <p style="margin-bottom: 1%; text-align: center;font-size: large;">
        <br/> 
          <span style = "color: #c3c3c3; font-size: 20px;">No existen estudiantes en este Proyecto</span>
        </p>
      </div>
</div>