.body{
    margin: 10px;
    display: block;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    justify-content: center;
    height: 40px;
}
.botonAceptar{
    margin-left: 10px;
    padding: 2%;
}
.Carta{
    max-width: 400px;
}