<div class="row" style="height: 95vh;">
    <div class="body">
        <p style="margin-bottom: 1%;">
            <mat-toolbar>
                <span style="text-align: center;">Reportes</span>
            </mat-toolbar>
        </p>

        <mat-card>
            <form [formGroup]="form">
                <mat-form-field [style.width.%]="40">
                    <mat-label>Reportes</mat-label>
                    <mat-select (selectionChange)="escogio($event)" formControlName="opcion">
                        <mat-option *ngFor="let item of opcionesReportes" [value]="item.id">
                            {{item.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="botonAceptar" type="submit" [disabled]="form.invalid" mat-raised-button color="primary" (click)="generarReporte()">
                    <mat-icon class="pointer">save_alt_icon</mat-icon>
                </button>
            </form>
        </mat-card>
    </div>
</div>
