<div class="row" style="height: 95vh;">
    <div class="body">
      <p style="margin-bottom: 1%;">
        <mat-toolbar>
          <span style="text-align: center;">Estudiantes</span>
        </mat-toolbar>
      </p>
      <button mat-raised-button color="primary" (click)="onCreate()">
        <mat-icon style="padding-left: 0%;padding-right: 1px;">add_box</mat-icon>
        Nuevo Estudiante
      </button>
        <mat-form-field appearance="standard">
        <mat-label>Filtro de Búsqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pedro, FE" #input autocomplete="off">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>          
            <!-- Cedula Column -->
            <ng-container matColumnDef="cedulaEstudiante">
              <th mat-header-cell *matHeaderCellDef > Cedula </th>
              <td mat-cell *matCellDef="let element"> {{element.cedulaEstudiante}} </td>
            </ng-container>
            
            <!-- Nombre Column -->
            <ng-container matColumnDef="nombreEstudiante">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombreEstudiante}} </td>
            </ng-container>
          
            <!-- Sexo Column -->
            <ng-container matColumnDef="sexoEstudiante">
                <th mat-header-cell *matHeaderCellDef> Sexo </th>
                <td mat-cell *matCellDef="let element"> {{element.sexoEstudiante}} </td>
            </ng-container>
          
            <!-- Semestre Column -->
            <ng-container matColumnDef="semestre">
              <th mat-header-cell *matHeaderCellDef> Semestre </th>
              <td mat-cell *matCellDef="let element"> {{element.semestre}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <a class="pointer" matTooltip="Modificar Docente">
                      <mat-icon class="pointer">edit</mat-icon>
                  </a>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>      
    </div>
  </div>